<div class="card-body text-dark">
  <h6>Rentals 
    <span class="badge badge-secondary">
      {{rentalList.length}}</span>

  </h6>
  <div *ngFor="let rental of rentalList"
    [ngSwitch]="rental.title"
  style="font-size:12px">
    {{rental.title}}
    <icon-cat *ngSwitchCase = "'Cats'"></icon-cat> 
    <icon-ship *ngSwitchCase = "'Wing Commander'"></icon-ship> 
    <icon-spider *ngSwitchCase = "'Spider-Man 3'"></icon-spider> 
  </div>


  <button 
    *ngIf = "rentalList.length"
  class="btn btn-primary btn-sm"
    (click)="onClearClick()"
  >Clear</button>
</div>